### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [235]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
data_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(data_file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [238]:
# Total number of unique players

total_players = purchase_data["SN"].nunique()
total_players
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [239]:
# Number of unique items

unique_items = len(purchase_data["Item Name"].unique())
unique_items

179

In [240]:
# Average purchase price (mean of price)

avg_price = purchase_data["Price"].mean()
avg_price

3.050987179487176

In [241]:
# Number of purchases

purchases = purchase_data["Purchase ID"].count()
purchases

780

In [242]:
# Total Revenue (sum of price)

total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [243]:
# Purchasing analysis dataframe

purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                    "Average Price": [avg_price],
                                    "Number of Purchases": [purchases],
                                    "Total Revenue": [total_revenue]
                                   })

# Format average price and total revenue as currency
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:.2f}".format)
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [244]:
# Create dataframe without duplicate players

gender_df = purchase_data.loc[:,["SN","Gender"]]
gender_reduced = gender_df.drop_duplicates(subset=["SN"])
gender_reduced

                SN  Gender
0          Lisim78    Male
1      Lisovynya38    Male
2       Ithergue48    Male
3    Chamassasya86    Male
4        Iskosia90    Male
..             ...     ...
773         Hala31    Male
774     Jiskjask80    Male
775     Aethedru70  Female
777     Yathecal72    Male
778        Sisur91    Male

[576 rows x 2 columns]

In [245]:
# Count of each gender series

gender_only_count = gender_reduced["Gender"].value_counts()
gender_only_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [246]:
# Series with percentage of players by gender

gender_percentage = gender_only_count/total_players*100
gender_percentage

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [248]:
# Dataframe with total count and percentage of players by gender

gender_analysis_df = pd.DataFrame({"Total Count": gender_only_count,
                                  "Percentage of Players": gender_percentage})

# Format percentage of players
gender_analysis_df["Percentage of Players"] = gender_analysis_df["Percentage of Players"].map("{:.2f}%".format)
gender_analysis_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [249]:
# # Create list to only show Gender and Price columns
gender_prices_list = ['Gender', 'Price']

# only_gender = purchase_data[gender_prices_list]
# only_gender.head()

In [250]:
# players = purchase_data["SN"].count()
# players_count = gender_df.drop_duplicates(subset=["SN"]).count()
# players_count = total_players_df["Total Players"]

# gender_df = purchase_data.loc[:,["SN","Gender"]]
# players_count = gender_df.drop_duplicates(subset=["SN"])

In [251]:
# Purchase count

gender_purchase_count = purchase_data[gender_prices_list].groupby(['Gender']).count()
gender_purchase_count = gender_purchase_count.rename(columns={"Price": "Purchase Count"})
gender_purchase_count

                       Purchase Count
Gender
Female                            113
Male                              652
Other / Non-Disclosed              15

In [252]:
# Average Purchase Price

avg_gender_price = purchase_data[gender_prices_list].groupby(['Gender']).mean()
avg_gender_price = avg_gender_price.rename(columns={"Price": "Average Purchase Price"})


avg_gender_price["Average Purchase Price"] = avg_gender_price["Average Purchase Price"].map("${:.2f}".format)
avg_gender_price

                      Average Purchase Price
Gender
Female                                 $3.20
Male                                   $3.02
Other / Non-Disclosed                  $3.35

In [261]:
# Total Purchase Value
total_gender_value = purchase_data[gender_prices_list].groupby(['Gender']).sum()
total_gender_value = total_gender_value.rename(columns={"Price": "Total Purchase Value"})

total_gender_value

                       Total Purchase Value
Gender
Female                               361.94
Male                                1967.64
Other / Non-Disclosed                 50.19

In [262]:
# Average Total Purchase per Person

# Female average total purchase
female_total_purchase = total_gender_value.iloc[0, 0]
female_average = female_total_purchase / 81

# Male average total purchase
male_total_purchase = total_gender_value.iloc[1, 0]
male_average = male_total_purchase / 484
male_average

# Other / Non-Disclosed average total purchase
other_total_purchase = total_gender_value.iloc[2, 0]
other_average = other_total_purchase / 11

# Dataframe average total purchase

average_purchase_person = pd.DataFrame({"Gender": ["Female", "Male", "Other / Non-Disclosed"],
                                        "Avg Total Purchase per Person":[female_average, male_average, other_average]})

average_purchase_person["Avg Total Purchase per Person"] = average_purchase_person["Avg Total Purchase per Person"].map("${:.2f}".format)
average_purchase_person

                  Gender Avg Total Purchase per Person
0                 Female                         $4.47
1                   Male                         $4.07
2  Other / Non-Disclosed                         $4.56

In [264]:
# Merged purchasing analysis by gender into one dataframe

merged1 = pd.merge(gender_purchase_count, avg_gender_price, on="Gender", how="left")
merged2 = pd.merge(merged1, total_gender_value, on="Gender", how="left")
gender_analytics_df = pd.merge(merged2, average_purchase_person, on="Gender", how="left")

# Format Total Purchase Value
gender_analytics_df["Total Purchase Value"] = gender_analytics_df["Total Purchase Value"].map("${:.2f}".format)
gender_analytics_df.set_index("Gender")

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [277]:
# Create age groups and bins for data

group_ages = [
    "<10",
    "10-14",
    "15-19",
    "20-24",
    "25-29",
    "30-34",
    "35-39",
    "40+"]

bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]

In [278]:
# Dataframe for age with no duplicate players

age_df = purchase_data.loc[:,["SN","Age"]]
age_df = age_df.drop_duplicates(subset=["SN"])

age_df

                SN  Age
0          Lisim78   20
1      Lisovynya38   40
2       Ithergue48   24
3    Chamassasya86   24
4        Iskosia90   23
..             ...  ...
773         Hala31   21
774     Jiskjask80   11
775     Aethedru70   21
777     Yathecal72   20
778        Sisur91    7

[576 rows x 2 columns]

In [279]:
# Add Age Group column to dataframe

age_df["Age Group"] = pd.cut(age_df.Age, bins, labels = group_ages, include_lowest=True)
age_df

                SN  Age Age Group
0          Lisim78   20     20-24
1      Lisovynya38   40       40+
2       Ithergue48   24     20-24
3    Chamassasya86   24     20-24
4        Iskosia90   23     20-24
..             ...  ...       ...
773         Hala31   21     20-24
774     Jiskjask80   11     10-14
775     Aethedru70   21     20-24
777     Yathecal72   20     20-24
778        Sisur91    7       <10

[576 rows x 3 columns]

In [280]:
# Divide value counts of age groups by the number of total players to get percentage

age_group_counts = age_df["Age Group"].value_counts()
age_percentage = age_group_counts / total_players * 100
age_percentage

20-24    44.791667
15-19    18.576389
25-29    13.368056
30-34     9.027778
35-39     5.381944
10-14     3.819444
<10       2.951389
40+       2.083333
Name: Age Group, dtype: float64

In [281]:
# Create dataframe using dictionary then format percentage of players.

age_demographics = pd.DataFrame({"Total Count": age_group_counts,
                                "Percentage of Players": age_percentage})

age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:.2f}%".format)

# Sort age group by ascending order
age_demographics.sort_index(axis=0)

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame